<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>语音播放</title>
</head>
<style>
*{
margin:0px;
padding:0px;
}
</style>
<body>
<OBJECT ID="MediaPlayer" WIDTH="300" HEIGHT="{height}" CLASSID="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95" STANDBY="Loading Windows Media Player components..." TYPE="application/x-oleobject">  
           <PARAM NAME="FileName" VALUE="{url_yy}">  
           <PARAM name="ShowControls" VALUE="true">  
           <param name="ShowStatusBar" value="false">  
           <PARAM name="controls" VALUE="smallconsole">  
		   <PARAM name="ShowDisplay" VALUE="false">  
           <PARAM name="autostart" VALUE="true">
           <EMBED TYPE="application/x-mplayer2" SRC="{url_yy}" controls="　　smallconsole" NAME="MediaPlayer" WIDTH="300" HEIGHT="{height}" ShowControls="true" autoplay="false" autostart="false" autostart="true"></EMBED>  
</OBJECT>

 
</body>
</html>
