<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>声纹监控</title>
<script language='javascript' type='text/javascript'>    
var secs ={cfg_warmSec}; //倒计时的秒数    
var URL ;    
function Load(url2){
URL =url2;    
for(var i=secs;i>=0;i--)    
{    
window.setTimeout('doUpdate(' + i + ')', (secs-i) * 1000);    
}    
}    
function doUpdate(num)    
{    
document.getElementById('ShowDiv').innerHTML = '将在'+num+'秒后自动刷新' ;    
if(num == 0) { window.location=URL; }    
}    
</script> 
</head>
<body>

<div style="width:1090px;margin:0 auto; margin-top:30px;">
<span id="ShowDiv"></span>   
</div>

<script language="javascript">
{shuaxin}    
</script>    
</body>
</html>
